* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all .3s ease-in-out;
  /* background-color: #92988f; */
 
}

body{
  background-image: linear-gradient(35deg, cyan, rgba(255, 255, 0, 0.527), rgba(255, 0, 0, 0.537), rgb(0, 0, 255));
 text-align: center;
}
h1{
  margin-top: 20px;
}
.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  padding: 8px;
  border-radius: 1rem;
  height: 65vmin;
  width: 65vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
  border: none;
  /* background-color: chocolate; */
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.box {
  height: 18vmin;
  width: 18vmin;
  background-color: cyan;
  border-radius: 1rem;
  border: none;
  box-shadow: 0px 0px 3px rgb(255, 6, 6), 3px 3px 3px rgb(0, 0, 0);
  font-size: 2.5rem;
  font-weight: 800;
  color: rgb(43, 0, 255);
  background-image: linear-gradient(35deg, cyan, grey, rgba(255, 0, 0, 0.675));
  /* text-shadow: 0px 0px 5px rgb(0, 0, 255); */
}
.reset-btn {
  /* height: 6vmin;
  width: 20vmin; */
  padding: 7px;
  max-width: auto;
  max-height: auto;
  background-color: rgba(0, 0, 0, 0.396);
  color: white;
  border-radius: 1rem;
  font-size: 1.2rem;
  text-shadow: 0px 0px 5px rgb(128, 255, 0);
}
#new-btn{
    /* height: 6vmin;
    width: 20vmin; */
    padding: 7px;
    max-width: auto;
    max-height: auto;
    background-color: rgb(153, 248, 0);
    color: blue;
    border-radius: 1rem;
    font-size: 1.2rem;
    text-shadow: 0px 0px 10px cyan;
    margin: 10px 0px 10px 0px;
  }

  .msg{
    font-size: 1.5rem;
  text-align: justify;
    color: #ffffc7;
    font-weight: 800;
    font-family:sans-serif;
    text-shadow: 0px 0px 5px rgba(255, 0, 0, 0.462);
  }
  .msg-container{
    height:100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
  .hide{
    display: none;
  }
  #footer{
    margin-bottom: 0%;
  }
